*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A40;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #270082;
    border-radius: 24px;
    padding: 25px;
    -webkit-box-shadow: -2px 0px 31px 3px rgba(122,11,192,1);
    -moz-box-shadow: -2px 0px 31px 3px rgba(122,11,192,1);
    box-shadow: -2px 0px 31px 3px rgba(122,11,192,1);
}

.img{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #7A0BC0;
    padding: 3px;
    -webkit-box-shadow: -2px 0px 31px 3px rgba(122,11,192,1);
    -moz-box-shadow: -2px 0px 31px 3px rgba(122,11,192,1);
    box-shadow: -2px 0px 31px 3px rgba(122,11,192,1);
    margin-bottom:10px ;
}

.img .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #7A0BC0 ;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}

.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    text-decoration: none;
    background-color: #7A0BC0;
}

.media-buttons .fa{
    background-color: #4267b2;
}

.media-buttons .tw{
    background-color: #1d9bf0;
}

.media-buttons .in{
    background-color: #ff3040;
}

.media-buttons .li{
    background-color: #70b5f9;
}

.profile-card .button{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px;
    background-color: #7A0BC0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.buttons .button:hover{
    background-color: #1A1A40;
}