*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/bg.jpg);
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
}

.box .card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 15px rgba(0,0,0,.5);
    box-shadow: 0 2px 15px rgba(0,0,0,.5);
    transition: .6s;
    transform-origin: bottom;
    border-radius: 10px;
}


.box #c1{
    background: url(img/1.png);
}

.box #c2{
    background: url(img/2.png);
}

.box #c3{
    background: url(img/3.png);
}

.box #c4{
    background: url(img/4.png);
}

.box #c5{
    background: url(img/5.png);
}

.box #c6{
    background: url(img/6.png);
}

.box #c7{
    background: url(img/7.png);
}


.box:hover #c1{
    transform: rotate(-45deg) translate(0px,0px);  
}

.box:hover #c2{
    transform: rotate(-30deg) translate(0px,0px);
}

.box:hover #c3{
    transform: rotate(-15deg) translate(0px,0px);
}

.box:hover #c4{
    transform: rotate(0deg) translate(0px,0px);
}

.box:hover #c5{
    transform: rotate(15deg) translate(0px,0px);
}

.box:hover #c6{
    transform: rotate(30deg) translate(0px,0px);
}

.box:hover #c7{
    transform: rotate(45deg) translate(0px,0px);
}

.box .card:hover {
    z-index: 1;
    -webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}